body {
    height: 100%;
    user-select: none;
}

p {
    display: inline;
    font-weight: 600;
}

input[type="color"], input[type="checkbox"] {
    cursor: pointer;
}

input[type="text"]:focus {
    outline: 0;
}

input[type="range"] {
    appearance: none;
    background-color: rgba(128, 206, 255, 0.4);
    border-radius: 10px;
    border: solid 2px #CCCCCC;
    height: 5px;
    border-radius: 6px;
}

input[type="range"]:active, input[type="range"]:focus {
    outline: none;
}

input[type="range"]:active::-webkit-slider-thumb {
    background-color: #99BFFF;
}

input[type="range"]:hover::-webkit-slider-thumb {
    transition: 0.5s;
    transform: scale(1.1);
}

input[type="range"]::-webkit-slider-thumb {
    cursor: pointer;
    appearance: none;
    position: relative;
    border: 2px solid #0075FF;
    width: 22px;
    height: 22px;
    display: block;
    background-color: #fff;
    border-radius: 50%;

}

button {
    align-items: center;
    padding: 7px 30px;
    margin-top: 23%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 23%;
    transition: color 1s, border 1s, background-color 0.5s, transform 0.5s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 3px  rgba(0, 0, 0, 0.2);
    font-family: "メイリオ", "Meiryo", sans-serif;
    font-weight: 600;
    font-size: 13px;
}

button:hover {
    background-color: rgba(135, 191, 255, 0.4);
    transform: scale(1.1);
}

button:focus {
    outline: 0;
}

button:active {
    transform: translateY(3px);
}

/*プロパティを変更するUI*/
#properties-background {
    display: inline-block;
    position: absolute;
    margin-left: 6%;
    width: 55%;
}

/*プロパティ名と複数のプロパティをまとめたもの*/
.properties1 {
    display: block;
    transition: 0.5s;
    width: 30%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.properties2 {
    display: block;
    position: absolute;
    transition: 0.5s;
    top: 17px;
    left: 40%;
    right: 10%;
}

.properties1:hover, .properties2:hover {
    transform: translateY(-15px) scale(1.08);
    transition: 0.5s;
}

.properties1:hover > .property-items, .properties2:hover > .property-items {
    background-color: rgba(135, 191, 255, 0.4);
}

.buttons {
    display: block;
    position: absolute;
    top: 290px;
    left: 47%;
    right: 10%;
}

/*複数のプロパティをまとめたもの*/
.property-items {
    display: block;
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

/*プロパティ*/
.property {
    display: block;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

/*プロパティ名*/
.property-name {
    display: block;
    transition: 1s;
    margin-bottom: 10px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-family: "メイリオ", "Meiryo", sans-serif;
}

/*各プロパティの具体的な項目名*/
.property-tag {
    transition: 1s;
    font-family: "メイリオ", "Meiryo", sans-serif;
}

/*テキストボックス*/
.textbox {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    transform: translateY(-15%);
    height: 20px;
    width: 65px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 2px;
}